.slideInFromLeft {
  opacity: 0;
  transform: translateX(-200%);
  animation: slideInX 0.5s 0.5s ease-in forwards;
}

.slideInFromRight {
  opacity: 0;
  transform: translateX(200%);
  animation: slideInX 0.5s 0.5s ease-in forwards;
}

.slideInFromTop {
  animation: slideInY 0.7s ease-in forwards;
}

.showObject {
  opacity: 0;
  animation: showObject 2s ease-in forwards;
}
