/* Row */
.row-xy {
  display: flex;
}

.row-x {
  display: flex;
}

.row-y {
  display: flex;
  flex-direction: column;
}

/* Column */
.col-10 {
  flex-basis: 10%;
}

.col-15 {
  flex-basis: 15%;
}

.col-20 {
  flex-basis: 20%;
}

.col-25 {
  flex-basis: 25%;
}

.col-30 {
  flex-basis: 30%;
}

.col-35 {
  flex-basis: 35%;
}

.col-40 {
  flex-basis: 40%;
}

.col-45 {
  flex-basis: 45%;
}

.col-50 {
  flex-basis: 50%;
}

.col-55 {
  flex-basis: 55%;
}

.col-60 {
  flex-basis: 60%;
}

.col-65 {
  flex-basis: 65%;
}

.col-70 {
  flex-basis: 70%;
}

.col-75 {
  flex-basis: 75%;
}

.col-80 {
  flex-basis: 80%;
}

.col-85 {
  flex-basis: 85%;
}

.col-90 {
  flex-basis: 90%;
}

.col-95 {
  flex-basis: 95%;
}

.col-100 {
  flex-basis: 100%;
}

@media screen and (max-width: 800px) {
  .row-xy {
    flex-direction: column;
  }
}
