.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-underline {
  text-decoration: underline;
}

.text-lh-20 {
  line-height: 20px;
}

.text-lh-25 {
  line-height: 25px;
}

.text-lh-30 {
  line-height: 30px;
}

.text-size-17 {
  font-size: 17px;
}

.text-size-20 {
  font-size: 20px;
}

.letter-spacing-20 {
  letter-spacing: 1px;
}

.text-dash::before {
  content: '-';
  display: inline-block;
  position: absolute;
  left: -7px;
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .sm-text-center {
    text-align: center;
  }

  .sm-text-left {
    text-align: left;
  }

  .sm-text-justify {
    text-align: justify;
  }

  .sm-text-lh-20 {
    line-height: 20px;
  }

  .sm-text-lh-25 {
    line-height: 25px;
  }

  .sm-text-lh-30 {
    line-height: 30px;
  }
}
