:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgba(251, 249, 243, 0.8);

  --previewShadow: #f0ead6;

  --btnColor: black;
}

html {
  background-color: var(--mainColor);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
  padding: 0;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

.section {
  overflow: hidden;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.secondary-container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.greeting-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: flex-end;
  justify-content: space-around;
  min-height: 10em;
  margin: 10px 10px 0 10px;
}

.greeting-right-column {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: var(--mainColor);
  border: 1px solid var(--borderColor);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  transform: translateY(-200%);
  animation: slideInFromTop 0.5s 1s ease-in forwards;
}

.shakeAnimation {
  animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.greeting-right-column h5 {
  margin: 20px 0;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 8px;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-bottom: none;
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  transform: translateX(-100%);
  opacity: 0;

  animation: slideInFromLeft 0.5s 0.5s ease-in forwards;
}

.intro-column-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.border-bottom {
  border-bottom: 1px solid var(--borderColor);
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

#navigation a {
  color: var(--mainText);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.intro-left-column {
  width: 500px;
  grid-area: intro-left-column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: 80%;
  border: 1px solid var(--borderColor);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.active {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

.intro-right-column {
  width: 500px;
  grid-area: intro-right-column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#preview {
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

#preview-shadow {
  background-color: var(--previewShadow);
  border-radius: 5px;
  padding-left: 30px;
  padding-top: 30px;

  animation: showObject 2s ease-in;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

.about-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  position: relative;
  z-index: 1;
  display: flex;
  padding: 50px 0 50px 0;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  animation: slideInFromRight 0.3s ease-in;
}

.about-me {
  flex-basis: 40%;
  text-align: justify;
}

.about-my-skills {
  margin-top: 50px;
  flex-basis: 80%;
  
}

.about-image {
  flex-basis: 40%;
}

#skills {
  max-width:650px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--borderColor);
  background-color: var(--previewShadow);
}

#skills ul li {
  margin-bottom: 15px;
}

#skills ul li::before {
  content: '-';
  display: inline-block;
  margin-right: 7px;
}

#skills ul li:last-of-type {
  margin-bottom: 0px;
}

#social_img {
  width: 100%;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
}

.social-links {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.social-links a {
  margin-top: 5px;
  font-size: 18px;
}

.social-links a:hover {
  text-decoration: underline;
}

#post-section {
  transform: translateY(-100%);
  position: relative;
  opacity: 0;
  transition: 1s;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 2px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.post:hover {
  transform: scale(1.03);
}

.thubnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  font-size: 14px;
  color: #222222;
}

@media screen and (max-width: 800px) {
  .greeting-left-column h1 {
    font-size: 40px;
  }

  .intro-right-column {
    justify-content: center;
    padding: 50px 0;
  }

  #preview-shadow {
    width: 80%;
    padding-left: 0;
    margin: 0 auto;
  }

  #preview {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    height: 100%;
    text-align: center;
  }

  .about-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .about-me {
    width: 90%;
  }

  .about-image {
    width: 90%;#
  }

  .about-my-skills {
    width: 90%;
  }

  .social-links {
    width: 80%;
  }

  #social_img {
    margin-top: 30px;
  }

  .post-wrapper {
    grid-template-columns: repeat(auto-fit, 280px);
  }
}

/* Animations */

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showObject {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  39%,
  61% {
    transform: translate3d(0, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(-1px, 0, 0);
  }

  45%,
  55% {
    transform: translate3d(2px, 0, 0);
  }

  47%,
  50%,
  53% {
    transform: translate3d(-4px, 0, 0);
  }

  49%,
  51% {
    transform: translate3d(4px, 0, 0);
  }
}
