@keyframes slideInFromLeft {
  30% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showObject {
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  39%,
  61% {
    transform: translate3d(0, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(-1px, 0, 0);
  }

  45%,
  55% {
    transform: translate3d(2px, 0, 0);
  }

  47%,
  50%,
  53% {
    transform: translate3d(-4px, 0, 0);
  }

  49%,
  51% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
