* {
  box-sizing: border-box;
  margin: 0;

  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--mainColor);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background: var(--borderColor);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: var(--mainColor);
  word-wrap: break-word;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--borderColor);

  -webkit-box-shadow: 0 0 0px 1000px var(--secondaryColor) inset;
  -webkit-text-fill-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;

  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 46px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}

p,
ul {
  margin: 16px 0;
}

button {
  background-color: transparent;
  color: #fff;

  cursor: pointer;
}

button:hover {
  background-color: var(--mainColor);
}

p,
li,
span,
label,
input,
button,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;

  outline: none;
  transition: 0.3s;
}

input,
textarea,
button {
  border: var(--borderColor) 1px solid;

  background-color: var(--secondaryColor);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}
