#btn-left-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0%;
  height: 100%;
  width: 0px;
  z-index: 2;
  transform: translateX(-50px);
  animation: slideInFromLeft 0.3s 2s ease-in forwards;
}
