.curtain {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: 0.3s;
}

.curtain-active {
  opacity: 1;
  visibility: visible;
}
