.form-card {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;
  border: var(--borderColor) 1px solid;
  border-radius: 5px;

  background-color: var(--secondaryColor);
  padding: 10px;

  opacity: 0;
  transform: translateX(200%);
  animation: slideInFromRight 0.5s 0.5s ease-in forwards;
}

.form-title-container {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.form-title {
  text-align: center;
}

.form-outer-container {
  flex-basis: 85%;
}

.form-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  padding: 15px;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-field-message {
  flex-grow: 1;
}

.form-field label {
  padding-bottom: 8px;
}

.form-field input,
textarea {
  width: 100%;
  margin-bottom: 7px;
  border-radius: 5px;

  padding: 10px;
  font-size: 14px;
}

.form-field textarea {
  height: 100%;

  padding: 10px;
  line-height: 180%;

  resize: none;
}

.form-field input[type='submit'] {
  height: 41px;
  margin-top: 15px;

  background-color: var(--buttonColor);

  cursor: pointer;
}

.form-field input[type='submit']:hover {
  background-color: var(--borderColor);
}

.form-btn-delete-container {
  position: absolute;
  top: -7px;
  right: -7px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn-delete {
  width: 35px;
  height: 35px;
  border-radius: 5px;

  font-size: 18px;
}

.form-btn-delete:hover {
  background-color: var(--mainColor);
}

.form-spinner-container {
  width: 100%;
  height: 41px;
  margin-top: 15px;
  margin-bottom: 7px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  background-color: var(--buttonColor);

  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  opacity: 0.6;
}

.form-spinner {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 50px auto;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  font-size: 10px;
  text-indent: -9999em;

  -webkit-animation: spinnerAnimation 1.4s infinite linear;
  animation: spinnerAnimation 1.4s infinite linear;
}
.form-spinner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;

  background: #ffffff;
  content: '';
}
.form-spinner:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  margin: auto;
  border-radius: 50%;

  background-color: var(--buttonColor);
  content: '';
}

.testTest1 {
  transition: '0.3s';
  height: '0px';
  overflow: 'hidden';
  opacity: 0;
  visibility: 'hidden';
}

.testTest2 {
  transition: '0.6s';
  position: 'relative';
  transform: 'translateY(-50%)';
  top: '50%';
}
