.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
}

.form-field {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.form-field-message {
  flex-grow: 1;
}

.form-field label {
  padding-bottom: 8px;
}

.form-field input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 7px;
}

.form-field textarea[id='message'] {
  height: 100%;
  line-height: 180%;
  padding: 10px;
  resize: none;
}

.form-field input[type='submit'] {
  background-color: var(--buttonColor);
  margin-top: 15px;
  height: 41px;
  cursor: pointer;
}

.form-field input[type='submit']:hover {
  background-color: var(--borderColor);
}

.form-btn-delete-container {
  position: absolute;
  top: -7px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn-delete {
  font-size: 18px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.form-btn-delete:hover {
  background-color: var(--mainColor);
}

.form-spinner-container {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 7px;
  background-color: var(--buttonColor);
  margin-top: 15px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-spinner {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: spinnerAnimation 1.4s infinite linear;
  animation: spinnerAnimation 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.form-spinner:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.form-spinner:after {
  background-color: var(--buttonColor);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
