#post-section {
  transform: translateY(-100%);
  position: relative;
  opacity: 0;
  transition: 1s;
}

#post-section a {
  text-decoration: none;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 2px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.post:hover {
  transform: scale(1.03);
}

.thubnail {
  display: block;
  border-radius: 5px;
  width: 98%;
  height: 180px;
  margin: 3px auto;
  object-fit: cover;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.post-preview {
  flex-grow: 1;
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  font-size: 14px;
  color: #222222;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
}

.icons-container img {
  width: 45px;
  height: 45px;
  margin: 3px 0;
}

@media screen and (max-width: 800px) {
  .post-wrapper {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media screen and (max-width: 400px) {
  .post-wrapper {
    grid-template-columns: repeat(auto-fit, 270px);
  }
}
