#posts-hook {
  height: 1px;
}

#posts-wrapper {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
}

.posts-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
}

.post-link-wrapper:hover {
  text-decoration: none;
}

.post-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  overflow: hidden;
}

.post-container:hover {
  transform: scale(1.03);
}

.post-thubnail {
  display: block;
  width: 98%;
  height: 180px;
  margin: 3px auto;
  border-radius: 5px;
  object-fit: cover;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.post-preview {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  flex-grow: 1;
}

.post-title {
  margin: 0;

  color: black;
}

.post-intro {
  font-size: 14px;
  color: #222222;
}

.post-icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0 10px;
}

.post-icons-container img {
  width: 45px;
  height: 45px;
  margin: 3px 1px;
}

.post-ribbon {
  position: absolute;
  top: 12%;
  right: 12%;
  width: 100%;
  height: 40px;
  transform: translateX(50%) rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--borderColor);
}

.post-ribbon-text {
  margin-left: -10%;
}

@media screen and (max-width: 800px) {
  .posts-container {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media screen and (max-width: 400px) {
  .posts-container {
    grid-template-columns: repeat(auto-fit, 270px);
  }
}
