.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--previewShadow);
}

.skills-headline {
  margin-top: 20px;
  text-align: center;
}

.skills-header {
  margin-top: 50px;
  margin-bottom: 20px;
}

.skills-header:first-of-type {
  margin-top: 30px;
}

.skills-list-item {
  margin-bottom: 15px;
}

.skills-list-item::before {
  display: inline-block;
  margin-right: 7px;
  content: '-';
}

.skills-list-item:last-of-type {
  margin-bottom: 0px;
}
