#sneakPeeks-hook {
  height: 1px;
}

#sneakPeeks-wrapper {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.sneakPeeks-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 340px);
  gap: 20px;
}

.sneakPeek-link-wrapper:hover {
  text-decoration: none;
}

.sneakPeek-container {
  position: relative;
  height: 100%;
  /* max-width:320px; */
  display: flex;
  flex-direction: column;
  padding: 2px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  overflow: hidden;
}

.sneakPeek-container:hover {
  transform: scale(1.03);
}

.sneakPeek-thubnail {
  display: block;
  width: 98%;
  max-height: 180px;
  margin: 3px auto;
  border-radius: 5px;
  object-fit: cover;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.sneakPeek-preview {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  flex-grow: 1;
}

.sneakPeek-title {
  margin: 0;
  line-height: 23px;
  color: black;
}

.sneakPeek-intro {
  font-size: 14px;
  color: #222222;
}

.sneakPeek-icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0 10px;
}

.sneakPeek-icons-container img {
  width: 45px;
  height: 45px;
  margin: 3px 1px;
}

.sneakPeek-ribbon {
  position: absolute;
  top: 12%;
  right: 12%;
  width: 100%;
  height: 40px;
  transform: translateX(50%) rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--borderColor);
}

.sneakPeek-ribbon-text {
  margin-left: -10%;
}

@media screen and (max-width: 380px) {
  .sneakPeeks-container {
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .sneakPeek-icons-container img {
    width: 38px;
    height: 38px;
    margin: 3px 1px;
  }
}
