.btn-container {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}

#sound-play {
  font-size: 18px;
  padding: 5px 15px 10px 15px;
  margin: auto;
  background-color: var(--mainColor);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.9;
  color: #fff;
  border: var(--borderColor) 1px solid;
  border-top: none;
  opacity: 0;
  outline: none;
  cursor: pointer;
}
