.sound-btn-container {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  opacity: 0;
  transform: translateY(-100%);
  animation: slideInFromTop 0.3s 2s ease-in forwards;
}

#sound-play {
  font-size: 18px;
  padding: 5px 15px 10px 15px;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.9;
  border-top: none;
}
