.sound-container {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}

#sound {
  font-size: 18px;
  padding: 5px 15px 10px 15px;
  margin: auto;
  background-color: var(--mainColor);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.9;
  color: #fff;
  border: var(--borderColor) 1px solid;
  border-top: none;
  animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  outline: none;
}
