:root {
  --mainColor: #000000;
  --secondaryColor: #000000;

  --borderColor: #000000;

  --mainText: #000000;
  --secondaryText: #000000;

  --themeDotBorder: #000000;

  --previewBg: #000000;
  --previewShadow: #000000;

  --buttonColor: #000000;
}
