.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  transform: translateX(-100%);
  opacity: 0;
  margin-bottom: 50px;

  animation: slideInFromLeft 0.5s 0.5s ease-in forwards;
}

.intro-column-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.intro-left-column {
  width: 500px;
  grid-area: intro-left-column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: 80%;
  border: 1px solid var(--borderColor);
}

.intro-right-column {
  width: 500px;
  grid-area: intro-right-column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#preview {
  border: 1.5px solid var(--borderColor);
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

#preview-shadow {
  background-color: var(--previewShadow);
  border-radius: 5px;
  padding-left: 30px;
  padding-top: 30px;
  animation: showObject 2s ease-in;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid var(--borderColor);
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

@media screen and (max-width: 800px) {
  .intro-right-column {
    justify-content: center;
    padding: 50px 0;
  }

  .intro-left-column {
    padding-bottom: 0;
  }

  #preview-shadow {
    width: 80%;
    padding-left: 0;
    margin: 0 auto;
  }

  #preview {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    height: 100%;
    text-align: center;
  }
}
