.project-container {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 20px;
  max-width: 850px;
  margin: 0 auto;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  transform: translateX(-100%);
  opacity: 0;
  margin-bottom: 50px;

  animation: slideInFromLeft 0.5s 0.5s ease-in forwards;
}

.project-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.project-headline {
  text-align: center;
}

.project-subheadline {
  margin-top: 50px;
}

.project-image-wrapper {
  margin: 40px 0;
}

.project-image {
  width: 100%;
  border-radius: 5px;
}

.project-description-wrapper {
  text-align: justify;
}

@media screen and (max-width: 500px) {
  .project-headline {
    font-size: 24px;
  }
  .project-subheadline {
    font-size: 20px;
  }
}
