.wrapper {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-10 {
  margin: 10px 0;
}

.my-20 {
  margin: 20px 0;
}

.my-30 {
  margin: 30px 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-20 {
  margin-bottom: 40px;
}

.py-20 {
  padding: 20px 0;
}

.px-10 {
  padding: 0 10px;
}

.px-20 {
  padding: 0 20px;
}

.col {
}

.col-w-30 {
  flex-basis: 30%;
}

.col-w-40 {
  flex-basis: 40%;
}

.col-w-50 {
  flex-basis: 50%;
}

.col-w-60 {
  flex-basis: 60%;
}

.col-w-70 {
  flex-basis: 70%;
}

.col-w-100 {
  flex-basis: 100%;
}

.wrap-500 {
  max-width: 400px;
}

.wrap-600 {
  max-width: 600px;
}

.wrap-700 {
  max-width: 700px;
}

.wrap-900 {
  max-width: 900px;
}

.w-full {
  width: 100%;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.center-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .sm-my-10 {
    margin: 10px 0;
  }

  .sm-my-20 {
    margin: 20px 0;
  }

  .sm-mt-20 {
    margin-top: 20px;
  }

  .sm-px-20 {
    padding: 0 20px;
  }
}
