.wrapper {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column */
.col {
}

.col-w-10 {
  flex-basis: 10%;
}

.col-w-20 {
  flex-basis: 20%;
}

.col-w-30 {
  flex-basis: 30%;
}

.col-w-40 {
  flex-basis: 40%;
}

.col-w-50 {
  flex-basis: 50%;
}

.col-w-60 {
  flex-basis: 60%;
}

.col-w-70 {
  flex-basis: 70%;
}

.col-w-80 {
  flex-basis: 80%;
}

.col-w-90 {
  flex-basis: 39%;
}

.col-w-100 {
  flex-basis: 100%;
}

/* Margin */
.m-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.my-10 {
  margin: 10px 0;
}

.my-20 {
  margin: 20px 0;
}

.my-30 {
  margin: 30px 0;
}

.my-40 {
  margin: 40px 0;
}

/* Padding */
.px-10 {
  padding: 0 10px;
}

.px-20 {
  padding: 0 20px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.py-10 {
  padding: 10px 0;
}

.py-20 {
  padding: 20px 0;
}

/* Width */
.wrap-100 {
  max-width: 100px;
}

.wrap-200 {
  max-width: 200px;
}

.wrap-300 {
  max-width: 300px;
}

.wrap-400 {
  max-width: 400px;
}

.wrap-500 {
  max-width: 500px;
}

.wrap-600 {
  max-width: 600px;
}

.wrap-700 {
  max-width: 700px;
}

.wrap-800 {
  max-width: 800px;
}

.wrap-900 {
  max-width: 900px;
}

.w-full {
  width: 100%;
}

/* Text */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

/* Element position */
.center-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.-z-1 {
  z-index: -1;
}

.z-1 {
  z-index: 1;
}

/* Border */
.rounded {
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  /* Row */
  .row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  /* Margin */
  .sm-mt-10 {
    margin-top: 10px;
  }

  .sm-mt-20 {
    margin-top: 20px;
  }

  .sm-mb-10 {
    margin-bottom: 10px;
  }

  .sm-mb-20 {
    margin-bottom: 20px;
  }

  .sm-mb-30 {
    margin-bottom: 30px;
  }

  .sm-my-10 {
    margin: 10px 0;
  }

  .sm-my-20 {
    margin: 20px 0;
  }

  .sm-my-30 {
    margin: 30px 0;
  }

  .sm-my-40 {
    margin: 40px 0;
  }

  /* Padding */
  .sm-p-0 {
    padding: 0;
  }

  .sm-p-10 {
    padding: 10px;
  }

  .sm-px-10 {
    padding: 0 10px;
  }
  .sm-px-20 {
    padding: 0 20px;
  }

  /* Text */
  .sm-text-center {
    text-align: center;
  }

  .sm-text-left {
    text-align: left;
  }
}
